In [3]:
import duckdb

# Load SQL extension
%load_ext sql

# Initialize ðŸ¦† DuckDB connection
conn = duckdb.connect()

# Import database
%sql conn --alias duckdb
%sql IMPORT DATABASE '../../data/nps';

There's a new jupysql version available (0.11.1), you're running 0.10.10. To upgrade: pip install jupysql --upgrade
Deploy FastAPI apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Loading configurations from /workspaces/fundamentals-of-data-transformation-4554074/pyproject.toml.

Settings changed:

+--------------+-------+
|    Config    | value |
+--------------+-------+
|   feedback   |  True |
|  autopandas  |  True |
| displaylimit |   10  |
|  displaycon  | False |
+--------------+-------+

   Count
0    224

Now we get to have some fun! **Window** functions works by breaking up relations into _independent_ partitions, ordering those partitions and then computing a new column for each row. 

<div align="center">
<img src = "https://bs-uploads.toptal.io/blackfish-uploads/uploaded_file/file/22142/image-1561028553443-05eed70976f64c363db78d603cba17d6.png" width=60% />
</div>

If this sounds complex, it might be at first, but we'll break it down for you. If this sounds computationally intensive, it is... So we'll have to be careful when windowing over large datasets.

When we build a window function, we're basically iterating over a slice of data _relative_ to the other rows around it. This is a powerful pattern and one that makes SQL stand out as an excellent language for querying relational data.

<div align="center">
<img src = "https://duckdb.org/images/blog/windowing/framing.svg" width=30% />
</div>

Here are some sample questions well suited to windows:
- Which park has the most campsites?
- What's the second largest campsite in each park?
- What is the running total of alerts for all parks?
- What's the 7-day moving average of alerts?

Window functions are made up of three partsâ€” the _function_, a _partition_, and an _order_. 

- First, we describe what we'd like to return, maybe the `MAX` value or just the `FIRST` value.
- Next, we describe the partition. A partition is just a way of describing the "chunks" we want to query our data by. It's almost like a `GROUP`, for example if we parition by `park_name`, we'll get the `MAX` _for each_ park name.
- Then, we define an order. This isn't necessary in queries like `MAX`, but for a `FIRST` query, order is essential.
- Finally, we can define a _frame_, which tells us which rows to consider. We'll talk more about frames later.
  

Below is an example:

In [4]:
%%sql
SELECT
    DISTINCT p.fullname as park_name,

    -- For each park, which campground has the maximum number of campsites?
    MAX(c.numberofsitesfirstcomefirstserve) OVER (PARTITION BY park_name) as max_num_fcfc,
    MAX(c.numberofsitesreservable) OVER (PARTITION BY park_name) as max_num_reserve,
    MAX(c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable) OVER (PARTITION BY park_name) as max_num_campsites,

    -- For each park, which _campsite_ has the maximum number of campsites?
    FIRST(c.name) OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve DESC) as max_num_fcfs_site,
    FIRST(c.name) OVER (PARTITION BY park_name ORDER BY c.numberofsitesreservable DESC) as max_num_reserve_site,
    FIRST(c.name) OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable DESC) as max_num_campsites_site
FROM nps_public_data.campgrounds c
INNER JOIN nps_public_data.parks p
    ON c.parkcode = p.parkcode
    AND p.designation = 'National Park'
ORDER BY max_num_campsites DESC
LIMIT 5;

,park_name,max_num_fcfc,max_num_reserve,max_num_campsites,max_num_fcfs_site,max_num_reserve_site,max_num_campsites_site
0,Mesa Verde National Park,267,267,534,Morefield Campground,Morefield Campground,Morefield Campground
1,Yellowstone National Park,0,432,432,Bridge Bay Campground,Bridge Bay Campground,Bridge Bay Campground
2,Grand Teton National Park,10,347,347,Jenny Lake Campground,Colter Bay Campground,Colter Bay Campground
3,Grand Canyon National Park,15,300,315,Mather Campground - South Rim,Mather Campground - South Rim,Mather Campground - South Rim
4,Yosemite National Park,156,235,304,Tuolumne Meadows Campground,Upper Pines Campground,Tuolumne Meadows Campground

`LEAD`, `LAG`, & `NTH_VALUE` are similar functions. As the names suggest:
- `LEAD` returns the _next_ value in a particular partition.
- `LAG` returns the _previous_ value in a particular partition.
- `NTH_VALUE` returns a value the index you provide.

These functions are interchangeable, for example lead and lag often take parameters that specify how many rows to skip, so `LEAD(name, 2) =  LAG(name, -2) = NTH_VALUE(name, 2)`.

That can be confusing, so we recommend sticking with one.

In [ ]:
%%sql
SELECT
    p.fullname as park_name,
    c.name as campground_name,
    c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable as num_sites,
    -- LAG & LEAD
    -- Get the previous campsite ordered by number of sites.
    LAG(c.name) OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable DESC) as next_campsite,
    -- Get the next campsite ordered by number of sites.
    LEAD(c.name) OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable DESC) as previous_campsite,
    -- Get the next next campsite ordered by number of sites.
    LEAD(c.name, 2) OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable DESC) as previous_previous_campsite,
    -- The default values for frames are from UNBOUNDED PRECEDING to CURRENT ROW
    NTH_VALUE(c.name, 2) OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable DESC ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as second_campsite,
FROM nps_public_data.campgrounds c
INNER JOIN nps_public_data.parks p
    ON c.parkcode = p.parkcode
    AND p.designation = 'National Park'
WHERE p.fullname = 'Death Valley National Park'
ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable
LIMIT 5

`RANK` functions can be particularly useful. There are three main functions, `ROW_NUMBER`, `RANK`, and `DENSE_RANK`. They're slightly different but very similar:

- `ROW_NUMBER` monotonically increases, regardless of ties.
- `RANK` and `DENSE_RANK`â€” ties get the same number, e.g. 1, 2, 3, 4, 4, 4.
- `DENSE_RANK` continues iterating after a tie, `RANK` does not, e.g. 1, 2, 3, 3, 5 vs. 1, 2, 3, 3, 4.

In [ ]:
%%sql
SELECT
    p.fullname as park_name,
    c.name as campground_name,

    -- For each park, which campground has the maximum number of campsites?
    c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable as num_campsites,
    -- RANK, ROW_NUMBER, DENSE_RANK     
    RANK() OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable DESC) as park_campsites_rank,
    ROW_NUMBER() OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable DESC) as campsites_row_num,
    DENSE_RANK() OVER (PARTITION BY park_name ORDER BY c.numberofsitesfirstcomefirstserve + c.numberofsitesreservable DESC) as campsites_dense_rank,
FROM nps_public_data.campgrounds c
INNER JOIN nps_public_data.parks p
    ON c.parkcode = p.parkcode
    AND p.designation = 'National Park'
WHERE p.fullname = 'Death Valley National Park'
ORDER BY park_name, park_campsites_rank ASC
LIMIT 12;

Let's talk about _rolling averages_. Rolling averages are a concept that are _much_ easier grasped in SQL thanks to the row-based layout and language details.

Frames can be very useful in rolling averages.

In [ ]:
%%sql
SELECT
    a.lastindexeddate::DATE as dt,
    COUNT(*) as num_alerts,
FROM nps_public_data.alerts a
LEFT JOIN nps_public_data.parks p
    USING(parkcode)
WHERE dt BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY 1
ORDER BY dt ASC
LIMIT 10

In [ ]:
%%sql
SELECT
    a.lastindexeddate::DATE as dt,
    COUNT(*) as num_alerts,
    SUM(COUNT(*)) OVER (ORDER BY dt) as cum_num_alerts
FROM nps_public_data.alerts a
INNER JOIN nps_public_data.parks p
    USING(parkcode)
WHERE dt BETWEEN '2023-06-01' AND '2024-7-31'
GROUP BY 1
ORDER BY dt ASC
LIMIT 10

But our dates are not consecutive (not every day has an alert!), so an average is difficult. We can generate a series to get around this.

In [ ]:
%%sql
WITH date_arr AS (
  -- We'll discuss this more in the lesson on data generation!
  SELECT
     generate_series as dt
  FROM
     generate_series(timestamp '2019-01-01', timestamp '2025-01-01', interval '1 day')
)
SELECT
   da.dt,
    COUNT(a.id) as num_alerts,
    SUM(COUNT(a.id)) OVER (ORDER BY da.dt ASC) as cum_num_alerts
FROM date_arr da
LEFT JOIN nps_public_data.alerts a
    ON da.dt::DATE = a.lastindexeddate::DATE
LEFT JOIN nps_public_data.parks p
    USING(parkcode)
WHERE da.dt BETWEEN '2023-06-01' AND '2024-7-31'
GROUP BY 1
ORDER BY da.dt ASC
LIMIT 15;

And now get our rolling counts + averages!

In [ ]:
%%sql
WITH date_arr AS (
  -- We'll discuss this more in the lesson on data generation!
  SELECT
     generate_series as dt
  FROM
     generate_series(timestamp '2019-01-01', timestamp '2025-01-01', interval '1 day')
)
SELECT
   da.dt,
    COUNT(a.id) as num_alerts,
    SUM(COUNT(a.id)) OVER (ORDER BY da.dt ASC) as cum_num_alerts,
    -- Note the definition of our "frame"
    SUM(COUNT(a.id)) OVER (ORDER BY da.dt ASC ROWS BETWEEN 6 PRECEDING AND CURRENT ROW) as seven_day_rolling,
    ROUND(
        AVG(COUNT(a.id)) OVER (ORDER BY da.dt ASC ROWS BETWEEN 6 PRECEDING AND CURRENT ROW)
        , 2) as seven_day_rolling_avg,
FROM date_arr da
LEFT JOIN nps_public_data.alerts a
    ON da.dt::DATE = a.lastindexeddate::DATE
LEFT JOIN nps_public_data.parks p
    USING(parkcode)
WHERE da.dt BETWEEN '2023-06-01' AND '2024-7-31'
GROUP BY 1
ORDER BY da.dt ASC
LIMIT 15;

Note how the _frame_ clause is instructing our query about which rows to aggregate!

So that's the basics of window functions. If you can understand the idea of breaking down the function into _three_ componentsâ€” the aggregate, the partition, and the frame, you've mastered windows! Yes, this takes quite a bit of time, but once you get it, it totally makes sense!