In [ ]:
import pandas as pd

parks_df = pd.read_parquet("../../data/nps/nps_public_data_parks.parquet")
parks_df.head()

ImportError: cannot import name 'ppprint' from 'pprint' (/opt/homebrew/Cellar/python@3.12/3.12.11/Frameworks/Python.framework/Versions/3.12/lib/python3.12/pprint.py)

Write a snippet to fetch all the parks in Utah and order the results by the park name.

In [20]:
parks_df[
    (parks_df["states"].str.contains("UT"))
     & (parks_df["designation"] == "National Park") 
]["name"].sort_values(ascending=True)

136          Arches
146    Bryce Canyon
150     Canyonlands
154    Capitol Reef
257            Zion
Name: name, dtype: object

Build a query to fetch all the National Parks that cross state boundaries. 

Hint: `parks.states` is a string representation of a list, i.e. `UT,CA,NC`. The `parks` table includes parks that aren't National Parks.

In [41]:
national_parks = (parks_df["designation"] == "National Park") 

multiple_states = parks_df["states"].str.split(",").apply(len) > 1

parks_df[multiple_states & national_parks][["name", "states"]]

                      name    states
18             Yellowstone  ID,MT,WY
167           Death Valley     CA,NV
188  Great Smoky Mountains     NC,TN

For all national parks, return the `states` column as a `STRUCT` type with each element as a state. Hint: this is similar to how we broke up the states column earlier in the course.

Which parks are in **either** Montana or Wyoming? Hint: Montana's state code is MT, Wyoming's is WY.

What about _both_ Montana _and_ Wyoming?

Which park is in the greatest number of states? i.e. which park crosses the _most_ state boundaries.

Now, how many parks are in each "group" of state border-crossings? Phrased another way, how many parks are in 1 state? How many in 2 or 3?

Hint: we're grouping by the _number_ of states.

What's are the percentage share of the total? i.e. what *percentage* of national parks are in one state?

Write a query that returns the _largest_ campsite in each park. Note: when creating a `total_campsites` column, you might have to fill `na` columns with zero. You might also find the `idxmax` function helpful for this exercise (feel free to google it to learn more) ðŸ™‚

Say you'll be in California (CA) this spring and have time for three National Parks visits. 

How many combinations of national parks can you visit? Can you return the combinations in a list ordered by the name of the first park?

Find the combinations (in California) in alphabetical order, that is, the first letter of each visit occurs in the order of the alphabet, e.g. `[C]hannel Islands, [D]eath Valley, [J]oshua Tree` would satisfy that condition.

Now, let's pull in our alerts data:

In [ ]:
import pandas as pd

alerts_df = pd.read_parquet("../../data/nps/nps_public_data_alerts.parquet")

Create a new column 'alert_date' that converts `lastIndexedDate` to a date (no time)

Grouping by `alert_date` and `category`, return a `grouby` that counts the number of alerts, per category per day. 

Be sure to reset the index so that each row has an `alert_date` column, not index

Join the `parks_df` on `parkCode` and create a new df grouping alerts by date and park.

Return a dataframe that contains the latest alert date for each park

Back to our joined df, let's tie it all together! 

Let's analyze alerts by state. Note that this means one alert can apply to multiple states. Can you create a dataframe of alerts counts by day, grouped by state? Hint: remember how we exploded states?

Ok great, now we have alerts by state... 

But can you fill in the gaps (dates missing from that dataframe)? Hint: it may be best to get the list of states (for selecting columns) from a previous dataframe.

Awesome! Now let's calculate the 28-day rolling average of alerts, by state

**Bonus:** Can you plot the 28 day rolling alerts, by state, using Plotly? Let's only take alerts after `2022-01-01`. Which state has had the most alerts in 2024?