In [1]:
import duckdb

# Load SQL extension
%load_ext sql

# Initialize ðŸ¦† DuckDB connection
conn = duckdb.connect()

# Import database
%sql conn --alias duckdb
%sql IMPORT DATABASE '../../data/nps';

Loading configurations from /workspaces/fundamentals-of-data-transformation-4554074/pyproject.toml.

Settings changed:

+--------------+-------+
|    Config    | value |
+--------------+-------+
|   feedback   |  True |
|  autopandas  |  True |
| displaylimit |   10  |
|  displaycon  | False |
+--------------+-------+

   Count
0    224

Build a query to fetch all the parks in Utah (UT) and order the results by the park name.

In [ ]:
%%sql

SELECT 
    fullname, 
    split(states, ',') ::string[] AS states_list
from nps_public_data.parks p
WHERE list_has_any(states_list, ['UT'])
ORDER by fullname asc;

-- done

,fullName,states_list
0,Arches National Park,[UT]
1,Bryce Canyon National Park,[UT]
2,California National Historic Trail,"[CA, CO, ID, KS, MO, NE, NV, OR, UT, WY]"
3,Canyonlands National Park,[UT]
4,Capitol Reef National Park,[UT]
5,Cedar Breaks National Monument,[UT]
6,Dinosaur National Monument,"[CO, UT]"
7,Glen Canyon National Recreation Area,"[AZ, UT]"
8,Golden Spike National Historical Park,[UT]
9,Hovenweep National Monument,"[CO, UT]"
10,Mormon Pioneer National Historic Trail,"[IL, IA, NE, UT, WY]"
11,Natural Bridges National Monument,[UT]
12,Old Spanish National Historic Trail,"[AZ, CA, CO, NV, NM, UT]"
13,Pony Express National Historic Trail,"[CA, CO, KS, MO, NE, NV, UT, WY]"
14,Rainbow Bridge National Monument,[UT]
15,Timpanogos Cave National Monument,[UT]
16,Zion National Park,[UT]

Build a query to fetch all the National Parks that cross state boundaries (i.e. parks that are in more than one state). Remember to filter `parks` for *only* National Parks.

Hint: `parks.states` is a string representation of a list, i.e. `UT,CA,NC`. The `parks` table includes parks that aren't National Parks.

In [27]:
%%sql


    SELECT 
        fullname, designation,
        split(states, ',') ::string[] AS states_list,
        len(states_list) as states_count
    from nps_public_data.parks p
    where p.designation ILIKE '%National Park%' and states_count > 1


    -- done

,fullName,designation,states_list,states_count
0,Yellowstone National Park,National Park,"[ID, MT, WY]",3
1,Death Valley National Park,National Park,"[CA, NV]",2
2,Great Smoky Mountains National Park,National Park,"[NC, TN]",2

For all national parks, return the `states` column as a `STRUCT` type with each element as a state.

In [ ]:
%%sql

Which parks are in **either** Montana (MT) or Wyoming (WY)?

In [ ]:
%%sql

What about _both_ Montana _and_ Wyoming?

In [ ]:
%%sql

Which park is in the greatest number of states? How many states>

In [ ]:
%%sql

Now, how many parks are in each "group" of state border-crossings? i.e. how many parks are in 1 state, 2 states, 3 states, etc.

Hint: we're grouping by the _number_ of states.

In [ ]:
%%sql

What's the percentage share of the total? i.e. what *percentage* of parks are in 1 state, 2 states, etc

Hint: window functions might be helpful.

In [ ]:
%%sql

Write a query that returns the _largest_ campsite in each park. 

As a bonus, do this _without_ using a CTE (filter in the same query)

In [ ]:
%%sql

Say you'll be in California (CA) this spring and have time for three National Parks visits. 

How many combinations of national parks can you visit? Can you return the combinations in a list ordered by the name of the first park?

Hint: self-joins and cross joins might be useful.

In [ ]:
%%sql

For our final exerciseâ€” find the combinations in alphabetical order, that is, the first letter of each visit occurs in the order of the alphabet, e.g. `[C]hannel Islands, [D]eath Valley, [J]oshua Tree` would satisfy that condition.

Hint: how can you compare strings for alphabetical order? (casing matters)

In [ ]:
%%sql